<% provide(:title, "Contact") %>
<h1>Contact</h1>
<p>
  Contact the Ruby on Rails Tutorial if you'd like. Here's their 
  <a href="http://www.railstutorial.org/contact">contact page</a>.
  <p>Thanks for using the Litter.</p>
</p>