<% provide(:title, "Contact") %>
<h1>Contact</h1>
<p>
  Use the real thing and get at me on Twitter
  <a href="https://twitter.com/mihaliswastaken">@mihaliswastaken</a>.
  <p>Thanks for using the Tweeter app.</p>
</p>