<% provide(:title, "Help") %>

<h1>Help</h1>

<p id="shrug">
		¯\_(ツ)_/¯
</p>
<p>
  You won't need any... but if you'd like to know how I built this app, look to this 
  <a href="http://www.railstutorial.org">Rails Tutorial</a>.
</p>
